{% extends 'webgallery/base.html' %}

{% block content %}
                {% for post in posts %}
              <div class = "post">

        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <div class = "date">
        <p>Published: {{ post.published_date }}</p>
        </div>
        <div class = "ima">
        <img src="{{ post.picture.url }}" height = "300" width = "300">
        </div>
        <p>{{ post.description|linebreaksbr }}</p>
      </div>
      <hr class="style14">
      <br>
      {% endfor %}
{% endblock %}
